.btn-blue {
	background-color: darkkhaki;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.btn-pink {
	background-color: white;
	padding: 15px 20px;
	border-radius: 4px;
	color: black;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 23px;
	
}

